
@charset "UTF-8";
 
h15 {font-family:nevis;color:#000; font-size:14px;text-transform:uppercase}
#pics{width:800px; overflow:none;}
#play{width:350px;height:250px;}
#play img {border:1px solid #954E9E; margin:5px;padding:1px;}
#movies {}
 
.left{float:left;overflow:none; }
.right{ float:right; overflow:none;}

@font-face { font-family: helv62; src: url('fonts/helv.otf'); } 
@font-face { font-family: helv62; font-weight: bold; src: url('fonts/helv.otf'); }
 
@font-face { font-family: nevis; src: url('fonts/nevis.otf'); } 
@font-face { font-family: nevis; font-weight: bold; src: url('fonts/nevis.otf'); }



@font-face { font-family: amputa; src: url('fonts/amputa.ttf'); } 
@font-face { font-family: amputa; font-weight: bold; src: url('fonts/amputa.ttf'); }


